.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 5px 10px;
  margin-bottom: 3px;
  border: 1px solid rgb(204, 204, 204);
  color: rgb(110, 107, 107);
  border-radius: 5px;
  font-size: 16px;
  word-break: break-word;
}

mat-icon {
  font-size: 18px;
}