<div class="container">
  <mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
    <mat-step [stepControl]="firstFormGroup" label="Enter your email">
      <form [formGroup]="firstFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error>
            Check entered email
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-stroked-button color="basic" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Enter your password">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'"
            required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>
            Minimum length 8 characters
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
          <button mat-stroked-button color="basic" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Repeat your password">
      <form [formGroup]="thirdFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="repeatPassword" placeholder="Password" [type]="hide ? 'password' : 'text'"
            required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div>
          <button mat-stroked-button color="warn" matStepperPrevious>Back</button>
          <button mat-stroked-button color="primary" (click)="registerUser()">Register</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>