<div class="shadow-sm list">
  <h2 class="m-0">{{ list.title }}</h2>
  <div class="btn-container">
    <app-dialog [title]="'Edit ' + list.title + ' list'" [text]="list.title"
      (emitConfirm)="changeListTitle($event, list._id)">
      <button mat-icon-button>
        <mat-icon>create</mat-icon>
      </button>
    </app-dialog>
    <button mat-icon-button (click)="deleteList(list._id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
<app-dialog [title]="'Add new card in ' + list.title + ' list'">
  <button mat-raised-button class="w-100 mb-1 btn-add">+</button>
</app-dialog>